$orange: #F9CC82;
$pink : #E2B4BA;
$purple : #C6B5D7;

:export {
    orange:$orange;
    pink:$pink;
    purple:$purple;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "NEXON Lv1 Gothic OTF";
}

.signup-box {
    display: flex;
    text-align: center;
    align-items: center;
    .signup-leftside {
        background-color: $orange;
        width: 50%;
        height: 100vh;
        img {
            padding: 250px 0;
            width:200px;
            height: 200px;
        }
    }
    form {
        width: 30%;
        margin: auto;
        h1 {
            text-align: left;
            margin-bottom: 20px;
            font-weight: bold;
        }
        input {
            display: block;
            width: 100%;
            height: 40px;
            border: none;
            
            margin-bottom: 20px;
            &::placeholder {
                color: #989898;
                font-size: 13px;
            }
            &:focus {
                outline: none;
                background-color: #f1f1f1;
            }
        }
        button {
            float: right;
            width: 30%;
            height: 40px;
            border: none;
            color: white;
            background-color: $orange;
            border-radius: 10px;
        }
    }
}